@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button {
    padding: 10px 20px;
    background-color: #004358;
    border: none;
    color: white;
    cursor: pointer;
    &[disabled] {
        background-color: lightgrey;
        color: grey;
        cursor: not-allowed;
    }
}
a {
    text-decoration: none;
    color: black;
    &.active-link {
        color: red;
    }
}
main {
    padding: 100px 0;
}
.content {
    margin: 0 auto;
    width: 1200px;
}
input {
    outline: none;
}
form {
    display: flex;
    flex-direction: column;
    input {
        height: 30px;
        border: 0;
        border-bottom: 2px solid #000;
    }
}
@media(max-width: 1200px) {
    .content {
        padding: 0 20px;
        margin: 0 auto;
        width: 100%;
    }
}